[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment gea_001.mp4gea_001.mp4425 KB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=fbaaa11108&attid=0.1&permmsgid=msg-f:1624561933523002918&th=168b9a78a342a626&view=att&disp=safe&realattid=f_jrqmyvqx0
Icon=text-html
